
header {
    height: 400px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e8a34f;
    background-image: url("https://www.transparenttextures.com/patterns/white-brick-wall.png");
    z-index:0;
}

.arrow-icon {
    color: red;
    display: flex;
    justify-content: center;
  }

  #nav-div {
    float:right; 
    font: sans-serif; 
    text-align: center ;
  }
