
.new-tweet {
  width: 90%;
  text-align: left;
  font-family: 'sans-serif';
  }

.new-tweet div div {
  display: flex; 
  justify-content: space-between;
}

.new-tweet textarea{
  background: none;
  width: 100%;
  border: none;
  border-bottom: 3px solid;
}
.new-tweet button {
  background-color: cornflowerblue;
  color: #FFFFFF;
  font-family: 'bungee';
}

counter {
  font-family: 'bungee';
}