.new-tweet {
  width: 90%;
  text-align: left;
  font-family: 'sans-serif';
  padding-bottom: 30px;
  margin-top: 50px;
  }

.new-tweet-div {
  display: flex; 
  justify-content: space-between;
}

.new-tweet-textarea {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 3px solid;
}
.new-tweet-button {
  background-color: cornflowerblue;
  color: #FFFFFF;
  font-family: 'bungee';
}

.counter {
  font-family: 'bungee';
}


@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 200px;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
  }
}