
 .tweets-main-container {
  width: 90%;
 }

 .tweet-container {
  border: 3px solid;
  height: 230px;
  padding-top: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-bottom: 2em;
  }

  .tweet-container:hover {
    box-shadow: 9px 11px 11px 11px rgba(33,33,33,.2); 
  }

  .div1, .div3{
    display: flex;
    justify-content: space-between;
  }

  .tweet-container img, span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .tweet-container span {
    margin-bottom: -2px;
  }

  .tweet-container i{
  
      background:none;
      color: blue;
  }
  
  .tweet-container i:hover{
      color: orange;
  }

  .tweet-text {
    width: 100%; 
    height: 100px;
    border-bottom: 2px solid;
    display: flex; 
    align-items: flex-end; 
    padding-bottom: 5px;
  }

  
  .alert-container {
    border: 2px red solid;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    text-align:center;
    display: none;
  }

  .alert-container-p {
    color: red; 
  }

  

  @media only screen and (min-width: 1024px) {

    .tweets-main-container {
      width: 90%;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 100px;
     }

     .alert-container {
      margin-bottom: 0px;
      padding-bottom: 0px;
      width: 90%;
      margin-left: 50px;
      margin-right: 50px;
      text-align: center;
    }
  }